@import url('https://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100');
@import url("xxs.css");
//http://fian.my.id/Waves/
@import url("waves/waves.min.css");
//http://www.bootstraptoggle.com/
@import url("bootstrap-toggle-master/bootstrap-toggle.min.css");

$dark-blue: #34495e;
$sweet-blue: #31a8e6;
$colDefault: #ecf0f1;
$strong_gray: #6d6d6d;
$gray: #cccccc;
$middle-gray: #dddddd;
$sweet-gray: #f3f3f3;

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
@mixin linearGradient($left, $right){
  background: $left; /* Old browsers */
  background: -moz-linear-gradient(left,  $left 0%, $right 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$left), color-stop(100%,$right)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  $left 0%,$right 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  $left 0%,$right 100%); /* IE10+ */
  background: linear-gradient(to right,  $left 0%,$right 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
@mixin underline-hover ($color, $background_color, $bottom){
  text-decoration: none;
  &:hover,  &:focus {
    color: $color;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    &:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: $bottom;
    left: 0;
    background-color: $background_color;
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}

@mixin custom-check-box ($color-not-checked, $color-checked, $background-color) {
  [type="checkbox"] {
    position: relative;
    &:not(:checked):before {
      content: "\f096";
      position: absolute;
      top: -2px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 18px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: $background-color;
      color: $color-not-checked;
    }
    &:checked:before {
      content: "\f046";
      position: absolute;
      top: -2px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 18px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: $background-color;
      color: $color-checked;
    }
  }
}

$custom-dev: 320px;
$extra-small-dev: 480px;
$small-dev: 767px;
$medium-dev: 992px;
$large-dev: 1200px;

//Example use
//---------------
//  @include bootstrap-respond-to(large-dev) {
//    padding: 10px;
//    img {
//      width: 120px;
//    }
//  }
//---------------
@mixin bootstrap-respond-to($media) {
  @if $media == custom-dev {
    @media only screen and (max-width: $custom-dev) {
      @content;
    }
  } @else if $media == extra-small-dev {
    @media only screen and (max-width: $extra-small-dev) {
      @content;
    }
  } @else if $media == small-dev {
    @media only screen and (max-width: $small-dev) {
      @content;
    }
  } @else if $media == medium-dev {
    @media only screen and (max-width: $medium-dev) {
      @content;
    }
  } @else if $media == large-dev {
    @media only screen and (max-width: $large-dev) {
      @content;
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
  font-family: 'Raleway',sans-serif;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 68px;
  background: $dark-blue;
  padding: 15px 0;
  .copyright {
    a {
      color: $sweet-blue;
    }
  }
}
a {
  color: $sweet-blue;
}
.underline-hover-effect {
  a {
    position: relative;
    @include underline-hover ($sweet-blue, $sweet-blue, -5px);
  }
}
.wb {
  vertical-align: middle;
}
.well {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 15px;
  border: 1px solid $gray;
}
label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: inherit;
}
.ver-align-bottom {
  vertical-align: bottom;
}
.tree-select {
  &:first-child {
    border-bottom-width: 0px
  }
}
.pagination {
  border-radius: 0;
  &>li:first-child>a,
  &>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &>li:last-child>a,
  &>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
hr {
  border-top: 1px solid $gray;
  margin-top: 15px;
  margin-bottom: 15px;
}
.panel {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 15px;
}
.sold-label {
  background: #c41b78;
  position: absolute;
  color: #fff;
  padding: 2px 10px;
  z-index: 1;
  top: 10%;
  font-size: 14px;
  transform: rotate(-45deg);
  left: -37%;
  width: 100%;
  text-align: center;
}
.sponsored-label {
  @extend .sold-label;
  background: #ff6319;
}


a {
  color: $sweet-blue;
}
address {
  margin-bottom: 0;
}
.tweet-img {
  display: block;
  background: url("img/tweet.png") center center;
  width: 18px;
  height: 16px;
  margin-top: 2px;
}
.sweet-gray-bg {
  background: $sweet-gray;
}
.thin-caret {
  background-image: url("img/arrow-select-down.png");
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 2px;
  vertical-align: middle;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-image: url("img/arrow-select-down.png");
  padding-right: 1.5em;
  padding-left: 0.5em;
  color: $dark-blue;
}
.btn {
  border-radius: 0;
}
.toggle-group {
  label {
    &.btn {
      border: none;
    }
  }
}

.default-button {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background: $sweet-blue;
  padding: 8px 36px;
  border: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  text-transform: uppercase;
  &:hover,  &:focus {
    color: #fff;
    background: darken($sweet-blue, 5);
    outline: none;
    text-decoration: none;
  }
}
.control-label {
  font-size: 14px;
  font-weight: 200;
  color: $strong_gray;
  margin-bottom: 3px;
}
.form-group {
  margin-bottom: 20px;
  &.formWithHelp {
    margin-top: 34px;
  }
}
.form-control {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border-radius: 0;
  height: 36px;
  padding: 7px;
  font-size: 14px;
  box-shadow: none;
  &:first-child {
    border-radius: 0!important;
  }
  &.datepicker {
    border-right: none;
  }
  &::-webkit-input-placeholder {color:$dark-blue;}
  &::-moz-placeholder          {color:$dark-blue;}/* Firefox 19+ */
  &:-moz-placeholder           {color:$dark-blue;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:$dark-blue;}
}

header {
  background: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid $gray;
  margin-bottom: 30px;
  @include bootstrap-respond-to(small-dev) {
    background: $dark-blue;
    padding: 0;
    margin-bottom: 15px;
  }
}
.navbar {
  border-radius: 0;
  min-height: 100%;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}
.user-menu {
  border-radius: 0;
  text-transform: none;
  padding: 15px 0;
  @include bootstrap-respond-to(small-dev) {
    margin-bottom: 25px;
  }
  > li {
    > a {
      padding: 5px 20px;
    }
  }
}

.navbar-custom {
  .navbar-nav {
    @include bootstrap-respond-to(small-dev) {
      margin: 0 -15px;
    }
    > li {
      padding: 0 15px;
      @include bootstrap-respond-to(medium-dev) {
        padding: 0 8px;
      }
      > a {
        color: $dark-blue;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.2px;
        position: relative;
        padding: 15px 0;
        @include underline-hover ($sweet-blue, $sweet-blue, 12px);
        @include bootstrap-respond-to(medium-dev) {
          font-size: 14px;
        }
        @include bootstrap-respond-to(small-dev) {
          color: #ffffff;
        }
        &:hover {
          @include bootstrap-respond-to(small-dev) {
            span {
              //margin-left: 10px;
              -webkit-transition: all 0.2s ease-in-out 0s;
              transition: all 0.2s ease-in-out 0s;
            }
          }
        }
      }
      &.dropdown {
        > a {
          @include underline-hover ($sweet-blue, transparent, 0);
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: #fff;
        background-color: $sweet-blue;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $dark-blue;
        background-color: transparent;
        @include bootstrap-respond-to(small-dev) {
          color: $sweet-blue;
        }
      }
    }
    &.nav-user-links {
      .button {
        color: #fff;
        background: $sweet-blue;
        padding: 15px;
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        @include bootstrap-respond-to(small-dev) {
          background: transparent;
          padding: 15px 0;
        }
        &:hover,  &:focus {
          color: #fff;
          background: darken($sweet-blue, 5);
          @include bootstrap-respond-to(small-dev) {
            background: transparent;
          }
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .navbar-toggle {
    border: none;
    padding: 5px 0;
    width: 30px;
    height: 30px;
    //outline: 1px solid #fff;
    .dot-bar {
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background: $sweet-blue;
      margin: 0 1px;
      @include  vendor-prefix(transition, all 0.2s);

      display: block;
      position: absolute;

      background: $sweet-blue;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);

      &:nth-child(1) {
        top: 50%;
        left: 0%;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 50%;
        left: 40%;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 50%;
        left: 80%;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
    &:hover, &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: $colDefault;
    }
    &.open-menu {
      .dot-bar {
        &:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 8px;
          left: 6px;
          width: 24px;
          border-radius: 0;
          height: 2px;
        }
        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          left: 6px;
          top: 25px;
          width: 24px;
          border-radius: 0;
          height: 2px;
        }
      }
    }
  }
  .navbar-collapse {
    border-color: $colDefault;
    @include bootstrap-respond-to(small-dev) {
    }
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $sweet-blue;
    }
  }
}
.quick-search-block {
  background: url("img/quick-bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  padding: 70px 0;
  margin-top: -30px;
  @include bootstrap-respond-to(small-dev) {
    margin-top: -16px;
  }
  @include bootstrap-respond-to(medium-dev) {
    padding: 40px 0;
  }
  h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 46px!important;
    margin: 10px auto;
    width: 80%;
    @include bootstrap-respond-to(small-dev) {
      font-size: 32px!important;
      width: 90%;
    }
    @include bootstrap-respond-to(extra-small-dev) {
      font-size: 27px!important;
      width: 90%;
    }
  }
  h4 {
    font-weight: 200;
    width: 50%;
    margin: auto;
    line-height: 1.3;
    @include bootstrap-respond-to(small-dev) {
      width: 60%;
    }
    @include bootstrap-respond-to(extra-small-dev) {
      width: 90%;
      font-size: 14px;
    }
  }
  .quick-search-form-block {
    margin: 30px 0 20px;
    .quick-search-box {
      background: rgba(0, 0, 0, 0.4);
      padding: 15px;
      display: inline-block;
    }
    .form-group {
      margin-right: 11px;
      width: 180px;
      @include bootstrap-respond-to(medium-dev) {
        width: 140px;
      }
      @include bootstrap-respond-to(small-dev) {
        width: 90%;
        display: inline-block;
        margin-right: 0;
      }
      input {
        &::-webkit-input-placeholder {color:$dark-blue;}
        &::-moz-placeholder          {color:$dark-blue;}/* Firefox 19+ */
        &:-moz-placeholder           {color:$dark-blue;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:$dark-blue;}
      }
    }
    .form-control {
      width: 100%;
      border-radius: 0;
      height: 46px;
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("img/arrow-select-down.png");
    padding-right: 1.5em;
    padding-left: 0.5em;
    color: $dark-blue;
  }
  a {
    position: relative;
    color: $sweet-blue;
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
    @include underline-hover ($sweet-blue, $sweet-blue, -5px);
  }
}

.search-button {
  color: #fff;
  background: $sweet-blue;
  padding: 11px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  @include bootstrap-respond-to(small-dev) {
    width: 90%;
    display: inline-block;
  }
  &:hover,  &:focus {
    color: #fff;
    background: darken($sweet-blue, 5);
  }
  .search-button-text {
    display: none;
    text-transform: uppercase;
    @include bootstrap-respond-to(small-dev) {
      display: block;
    }
  }
  .search-img {
    display: block;
    background: url("img/search-icn.png") center center;
    width: 25px;
    height: 24px;
    @include bootstrap-respond-to(small-dev) {
      display: none;
    }
  }
}





.listing-box {
  margin: 15px 0;
  .listing-box-image {
    position: relative;
    overflow: hidden;
    &:hover {
      .overlay-img {
        opacity: 1;
        z-index: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      .listing-box-quick-view-btn {
        opacity: 1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        &:hover,  &:focus {
          color: #fff;
          text-decoration: none;
          background: darken($sweet-blue, 5);
        }
      }
    }
    .listing-box-quick-view-btn {
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      position: absolute;
      z-index: 1;
      color: #fff;
      background: $sweet-blue;
      padding: 10px 20px;
      opacity: 0;

    }
    .overlay-img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.4);
      opacity: 0;
    }
    .listing-box-caption-price {
      position: absolute;
      z-index: 1;
      background: $sweet-blue;
      color: #fff;
      bottom: 15px;
      right: 0;
      font-family: 'Open Sans', sans-serif;
      padding: 0 5px;
      font-size: 16px;
    }
  }
  .listing-box-caption {
    background: #fff;
    padding: 0 15px;
    color: $dark-blue;
    min-height: 64px;
    .listing-box-caption-text {
      position: relative;
      h4 {
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 0.2px;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding: 15px 0;
        a {
          color: $dark-blue;
          text-transform: uppercase;
          display: block;
        }
      }
      &.desc-tile {
        width: 70%;
        float: left;
        @include bootstrap-respond-to(large-dev) {
          width: 100%;
          float: none;
        }
      }
      .listing-category {
        font-size: 13px;
        text-transform: lowercase;
        margin-top: 6px;
        display: block;
        font-weight: 200;
      }
    }
  }
}

.featured-ads-block {
  padding: 30px 0;
  .listing-box {
    padding: 0 20px;
    .listing-box-caption {
      background: $sweet-blue;
      .listing-box-caption-text {
        position: relative;
        h4 {
          margin: 0;
          a {
            color: #fff;
          }
        }
        &.desc-tile {
          width: 80%;
          float: left;
          @include bootstrap-respond-to(large-dev) {
            width: 70%;
          }
          @include bootstrap-respond-to(medium-dev) {
            width: 100%;
            float: none;
          }
        }
      }
      .listing-category {
        color: #eaeaea;
      }

    }
  }

  .owl-theme {
    .owl-nav {
      [class*=owl-] {
        background: transparent;
        &:hover {
          background: transparent;
        }
      }
      .owl-prev {
        position: absolute;
        top: 37%;
        left: -30px;
        z-index: 1;
      }
      .owl-next {
        position: absolute;
        top: 37%;
        right: -30px;
        z-index: 1;
      }
    }
    .owl-dots {
      .owl-dot {
        &.active {
          span {
            background: $sweet-blue;
            border: 1px solid $sweet-blue;
          }
        }
        &:hover {
          span {
            background: $sweet-blue;
            border: 1px solid $sweet-blue;
          }
        }
        span {
          width: 10px;
          height: 10px;
          margin: 5px 7px;
          background: transparent;
          border: 1px solid #a3a8ad;
          display: block;
          -webkit-backface-visibility: visible;
          -webkit-transition: opacity 200ms ease;
          -moz-transition: opacity 200ms ease;
          -ms-transition: opacity 200ms ease;
          -o-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
          border-radius: 0
        }
      }
    }
  }
  .paragraph-end {
    height: 76px;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 1;
    @include linearGradient(rgba(255,255,255,0), rgb(49, 168, 230));
  }
}
.multi-list-box {
  margin-bottom: 0;
  li {
    padding: 2px 5px;
    display: block;
    float: left;
    width: 50%;
    span {
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        font-size: 12px;
        color: $sweet-blue;
      }
    }
  }
}




.title {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: $dark-blue;
  margin-bottom: 20px;
  font-size: 32px;
}
.page-title {
  @extend .title;
}
.browse-block {
  background: $sweet-gray;
  .nav-tabs {
    text-align: center;
    > li {
      margin: 0 40px;
      display: inline-block;
      float: none;
      &.active {
         > a {
           background: transparent;
           color: $sweet-blue;
           &:before {
             content: "";
             position: absolute;
             width: 100%;
             height: 2px;
             bottom: 6px;
             left: 0;
             background-color: $sweet-blue;
           }
         }
      }
      > a {
        font-size: 18px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: $dark-blue;
        padding: 10px 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .tab-content {
    padding: 35px 0;
    background: transparent;
    a {
      color: $dark-blue;
      margin: 5px 0;
      display: block;
    }
  }
}
.recent-listings-block {
  background: url("img/black-wood.jpg") repeat center;
  padding: 30px 0;
  .title {
    color: $sweet-blue;
  }
}
.news-block {
  background: $sweet-blue;
  color: #fff;
  padding: 40px 0;
  .title {
    color: $dark-blue;
  }
  .news-box {
    @include bootstrap-respond-to(medium-dev) {
      margin: 15px 0;
    }
    font-family: 'Raleway', sans-serif;
    .news-box-date {
      margin: 5px;
      @include bootstrap-respond-to(small-dev) {
        margin: 0;
      }
    }
    .news-box-img {
      .title {
        margin-bottom: 0;
      }
    }
    .news-box-title {
      margin-top: 0px;
      @include bootstrap-respond-to(medium-dev) {
        margin-top: 15px;
      }
      a {
        color: #fff;
        font-size: 18px;
        font-weight: 200;
        line-height: 1.3;
        display: inline-block;
        @include bootstrap-respond-to(medium-dev) {
          font-size: 15px;
        }
      }
    }
    .news-box-description {
      color: $dark-blue;
      line-height: 1.3;
    }
  }
}
.tweets-block {
  font-family: 'Raleway', sans-serif;
  padding: 40px 0;
  .title {
    color: $sweet-blue;
  }
  .tweet-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .tweet-box {
    background: $sweet-gray;
    padding: 15px;
    min-height: 170px;
    @include bootstrap-respond-to(small-dev) {
      min-height: inherit;
      margin-bottom: 15px;
    }
    .tweet-box-date {
      margin-top: 5px;
      a {
        color: $gray;
      }
    }
    .tweet-box-links {
      margin-top: 15px;
      a {
        color: $sweet-blue;
        @include bootstrap-respond-to(medium-dev) {
          font-size: 12px;
        }
      }
    }
  }
}
.social-block {
  .fb-box {
    background: $gray;
    padding: 20px;
  }
  .GoogleAdSenseWrapper {
    border: 1px solid #fcc46d;
    padding: 6px;
  }
}
.login-form-box {
  @include custom-check-box($strong_gray, $sweet-blue, #fff);

}
.login-window {
  .modal-content {
    border-radius: 0;
    text-transform: none;
    font-weight: 400;
    .modal-body {
      padding: 25px;
      .form-control {
        border-radius: 0;
        height: 40px;
      }
      img {
        margin: 10px 0;
      }
      .keep-me {
        input {
          display: inline-block;
        }
        label {
          display: inline-block;
          margin: 0;
        }
      }
      @include custom-check-box($strong_gray, $sweet-blue, #fff);
    }
  }
  .login-btn {
    color: #fff;
    background: $sweet-blue;
    padding: 10px 20px;
    border: none;
    width: 100%;
  }
}
.input-group-addon {
  background: transparent;
  border-radius: 0;
}
.datepicker-top-field {
  @include bootstrap-respond-to(small-dev) {
    margin-bottom: 15px;
  }
}

.steps-wrap {
  margin: 50px 0 30px;
  overflow: hidden;
  text-align: center;
  @include bootstrap-respond-to(small-dev) {
    text-align: left;
    margin: 0;
  }
  ul {
    @include bootstrap-respond-to(small-dev) {
      padding-left: 20px;
      margin-bottom: 0;
    }
    li {
      display: inline-block;
      position: relative;
      width: 20%;
      @include bootstrap-respond-to(small-dev) {
        display: block;
        position: relative;
        width: auto;
      }
      &.active {
        .add-listing-step-line.active {
          background: $sweet-blue;
        }
        .add-listing-step-title {
          a {
            color: $sweet-blue;
            font-weight: 600;
          }
        }
      }
      .add-listing-step-line {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background: $gray;
        bottom: 11px;
        left: -50%;
        z-index: -1;
        &.active {
          background: $sweet-blue;
        }
        &.enable {
          background: $sweet-blue;
        }
        @include bootstrap-respond-to(small-dev) {
          width: 3px;
          height: 30px;
          left: -14px;
          z-index: -1;
        }
      }
      .add-listing-step {
        width: 15px;
        height: 15px;
        background: #fff;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid $gray;
        &.active {
          background: $sweet-blue;
          border: 2px solid $sweet-blue;
        }
        &.enable {
          background: $sweet-blue;
          border: 2px solid $sweet-blue;
        }
        @include bootstrap-respond-to(small-dev) {
          position: absolute;
          top: 2px;
          left: -20px;
        }
      }
      .add-listing-step-title {
        display: block;
        margin: 10px 0;
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-family: 'Raleway', sans-serif;
          color: $gray;
          &:hover {
            color: $sweet-blue;
          }
        }
      }
      &.first-step {
        .add-listing-step-line {
          display: none;
        }
      }
    }
  }

}
.stepsWrap.steps-wrap {
  .add-listing-step-title {
    a {
      font-size: 14px;
    }
  }
  li.active {
    .add-listing-step {
      background: $sweet-blue;
      border: 2px solid $sweet-blue;
    }
  }
}
.alert-warning {
  color: $dark-blue;
  background-color: $sweet-gray;
  border-color: $sweet-gray;
}
.alert {
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  a {
    font-family: 'Raleway', sans-serif;
  }
  .asterisk {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}
.i-img-box {
  vertical-align: bottom;
}
.alert-text-box {
  vertical-align: bottom;
}
.addListingForm {
  legend {
    background: transparent;
    border-bottom: none;
    margin-bottom: 20px;
  }
}
.add-listing-box {
  @include custom-check-box($strong_gray, $sweet-blue, #fff);
  .notHover {
    color: $sweet-blue;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
  }
  .masonry-item {
    a {
      color: $dark-blue;
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      margin: 3px 0;
      display: inline-block;
    }
  }
}
.categoryes-list-choose {
  list-style: none;
  padding-left: 20px;
}
.masonry {
  margin: 1.5em 0;
  padding: 0;
  column-gap: 1.5em; /* Общее расстояние между колонками */
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
}

.masonry-item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */
}
@media only screen and (min-width: 400px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 700px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 1100px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
.users-box {
  .users-box-item {
    padding: 15px;
    margin-bottom: 30px;
  }
}
.users-box-item {
  font-family: 'Raleway',sans-serif;
  border: 1px solid $gray;
  background: $sweet-gray;
  padding: 15px;
  .users-box-item-head-user-name {
    color: $sweet-blue;
    font-weight: 600;
    font-size: 16px;
    @include bootstrap-respond-to(extra-small-dev) {
      font-size: 14px;
    }
  }
  .users-box-item-head-user-full-name {
    color: $dark-blue;
    font-weight: 600;
    font-size: 16px;
    @include bootstrap-respond-to(extra-small-dev) {
      font-size: 14px;
    }
  }
  .users-box-item-head-control {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: $dark-blue;
    margin: 15px 0;
    display: inline-block;
    @include bootstrap-respond-to(extra-small-dev) {
      font-size: 11px;
      text-align: center;
      margin: 10px 0;
    }
    span {
      vertical-align: middle;
      display: inline-block;
      &:first-child {
        margin-right: 5px;
        margin-top: 2px;
      }
      img {
        @include bootstrap-respond-to(small-dev) {
          width: 13px;
        }
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  .users-box-item-body {
    min-height: 70px;
    padding: 15px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .users-box-item-footer {
    min-height: 60px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $dark-blue;
    .users-box-item-footer-contact-seller {
      margin-top: 15px;
      display: inline-block;
    }
    .users-box-item-footer-call-seller {
      margin-top: 12px;
      display: inline-block;
    }
  }

}
.users-box-item-full {
  address {
    margin-bottom: 10px;
  }
  .users-box-item-footer-contact-seller-btn {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 5px;
  }
  .users-box-item-footer-call-seller-btn {
    @extend .users-box-item-footer-contact-seller-btn;
  }
  .users-box-item-photo {
    position: relative;
    .users-box-item-logo {
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 50px;
    }
  }
}



img.noImageAvailable {
  max-width: 100%;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: $sweet-blue;
  border-color: $sweet-blue;
}
.pagination>li>a, .pagination>li>span {
  color: $sweet-blue;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: $sweet-blue;
}
.comments {
  font-family: 'Raleway',sans-serif;
  h2 {
    font-size: 26px;
  }
  .comments-control {
    margin-bottom: 0;
    a {
      position: relative;
      @include underline-hover ($sweet-blue, $sweet-blue, -5px);
    }
  }
  .thumbnail {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid $middle-gray;
    padding: 15px;
    .commentActions {
      margin-bottom: 0;
    }
  }
}

.pictures {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  &:hover {
    #image-gallery-button {
      opacity: 1;
      top: 15px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  #image-gallery-button {
    position: absolute;
    width: 38px;
    margin: auto;
    right: 0;
    left: 0;
    top: -45px;
    z-index: 2;
    border-radius: 0;
    padding: 8px 12px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    @include bootstrap-respond-to(small-dev) {
      display: none;
    }
  }
}
#Images {
  margin-bottom: 3px;
  overflow: hidden;
  background: $sweet-gray;
  .owl-nav {
    .owl-next {
      right: -10%;
      @include  vendor-prefix(transition, all 0.3s);
    }
    .owl-prev {
      left: -10%;
      @include  vendor-prefix(transition, all 0.3s);
    }
    @include bootstrap-respond-to(small-dev) {
      display: none;
    }
  }
  .owl-controls {
    margin-top: 0;
  }
  .owl-nav [class*=owl-] {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    width: 10%;
    text-shadow: -1px 1px 2px rgba(150,150,150,1);
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
  }
  &:hover {
    .owl-nav {
      .owl-next {
        right: 0;
      }
      .owl-prev {
        left: 0;
      }
    }
  }
  //.owl-controls {
  //  margin-top: 0;
  //  position: absolute;
  //  //bottom: -45px;
  //  bottom: 0;
  //  width: 100%;
  //  background: rgba(0,0,0,.5);
  //  height: 45px;
  //  -webkit-transition: all 0.3s;
  //  -moz-transition: all 0.3s;
  //  transition: all 0.3s;
  //  .owl-nav {
  //    .owl-next {
  //      right: 15px;
  //    }
  //    .owl-prev {
  //      left: 15px;
  //    }
  //  }
  //  .owl-nav [class*=owl-] {
  //    background: transparent;
  //    position: absolute;
  //    top: 10px;
  //    text-shadow: -1px 1px 2px rgba(150,150,150,1);
  //    font-size: 22px;
  //    margin: 0;
  //    padding: 0;
  //    display: inline-block;
  //    cursor: pointer;
  //    -webkit-border-radius: 3px;
  //    -moz-border-radius: 3px;
  //    border-radius: 3px;
  //    color: #fff;
  //  }
  //}
  //&:hover {
  //  .owl-controls {
  //    bottom: 0;
  //  }
  //}
}
#Thumbnails {
  .owl-controls {
    margin-top: 0;
  }
  .owl-item {
    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      background: rgba(49, 168, 230, 0.3);
      @include  vendor-prefix(transition, opacity 1s ease-out);
    }
  }
}

#Thumbnails .owl-item:hover:after,
#Thumbnails .owl-item.selected:after {
  opacity: 0;
}
.listing-details .pictures ul.list-inline {
  position: absolute;
  z-index: 100;
  right: 15px;
}
.listing-details-container {
  border-bottom: 2px solid $gray;
  padding-bottom: 15px;
}
.slider_position {
  margin: 10px 0;
  color: #fff;
  font-size: 17px;
}
.genesis {
  @include bootstrap-respond-to(medium-dev) {
    margin-top: -15px;
  }
  .wrap {
    position: relative;
    @include bootstrap-respond-to(medium-dev) {
      background: $dark-blue;
      &:after {
        content: '';
        position: absolute;
        right: 0; top: 0;
        width: 20px;
        height: 100%;
        background: -moz-linear-gradient(left, transparent, $dark-blue 100%);
        background: -webkit-linear-gradient(left, transparent, $dark-blue 100%);
        background: -o-linear-gradient(left, transparent, $dark-blue 100%);
        background: -ms-linear-gradient(left, transparent, $dark-blue 100%);
        background: linear-gradient(to right, transparent, $dark-blue 100%);
      }
      &:before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 20px;
        height: 100%;
        z-index: 1;
        background: -moz-linear-gradient(right, transparent, $dark-blue 100%);
        background: -webkit-linear-gradient(right, transparent, $dark-blue 100%);
        background: -o-linear-gradient(right, transparent, $dark-blue 100%);
        background: -ms-linear-gradient(right, transparent, $dark-blue 100%);
        background: linear-gradient(to left, transparent, $dark-blue 100%);
      }
    }
  }
  .genesis-nav-menu {
    margin: 0;
    height: 40px;
    padding: 10px 15px;
    font-family: 'Raleway',sans-serif;
    position: relative;
    overflow: visible;
    color: $dark-blue;
    text-align: left;
    @include bootstrap-respond-to(medium-dev) {
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      //background-image: radial-gradient(#fff, #000),radial-gradient(#fff, #000);
      //background-size: 8% 100%, 8% 100%;
      //background-position: -5% 0, 105% 0;
      //background-repeat: no-repeat;
    }
    li {
      margin-right: 20px;
      display: inline-block;
      a {
        color: $dark-blue;
        position: relative;
        @include bootstrap-respond-to(medium-dev) {
          color: #fff;
        }
        @include underline-hover ($sweet-blue, $sweet-blue, -5px);
        .counter {
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          color: $sweet-blue;
        }
      }
    }
  }
}
.listing-details-head-sub {
  margin-bottom: 15px;
}
.listing-details-head-sub-listing-controls {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
  display: table;
  width: 100%;
  input~span.glyphicon {
    color: #fff;
    margin-right: 5px;
  }
  label {
    font-weight: normal;
    display: table-cell;
    &.separate {
      width: 15px;
    }
    @include bootstrap-respond-to(small-dev) {
      display: table-caption;
      margin-bottom: 5px;
      &.separate {
        display: none;
      }
    }
  }
  a {
    font-weight: normal;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }
  .default-button {
    padding: 8px 10px;
  }

}
.field-valu-price {
  color: red;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.listing-details-head-top {
}
.dropdown-menu {
  border-radius: 0;
}
.listing-title {
  font-family: 'Raleway',sans-serif;
  font-size: 26px;
  padding: 15px 0;
  border-bottom: 1px solid $middle-gray;
  @include bootstrap-respond-to(medium-dev) {
    font-size: 18px;
  }
  @include bootstrap-respond-to(small-dev) {
    font-size: 14px;
  }
}
.search-controls-next-prew {
  margin-top: 30px;
  font-family: 'Raleway',sans-serif;
  a {
    color: $sweet-blue;
  }
}
.listing-details-info {
  font-family: 'Raleway',sans-serif;
  .listing-details-info-text {
    margin-bottom: 15px;
  }
  .field-caption {
    color: $dark-blue;
    font-weight: bold;
  }
  .listing-details-info-table {
    background: $sweet-gray;
    border: 1px solid $gray;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    .table {
      margin-bottom: 0;
      & > tbody > tr {
        & > th {
          border-top: none;
          padding: 5px;
        }
        & > td {
          border-top: none;
          padding: 5px;
        }
      }
    }
  }
  @include bootstrap-respond-to(medium-dev) {
    margin-top: 15px;
  }
}
.modal-content {
  border-radius: 0;
  .close {
    color: $sweet-blue;
    opacity: 1;
    &:hover { color: darken($sweet-blue, 5);}
    &:focus {outline: none}
  }
}
.social-button {
  display: inline-block;
  height: 20px;
  overflow: hidden;
}
.gplus {
  width: 60px;
}
.users-box-item {
  .users-box-item-avatar {
    @include bootstrap-respond-to(small-dev) {
      margin-bottom: 10px;
    }
  }
  .users-box-item-info-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li {
      margin-bottom: 3px;
      &:first-child {
        color: $sweet-blue;
      }
      &.email-string {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover {
          overflow: visible;
        }
      }
    }
  }
  .users-box-item-connection-button-block {
    .default-button {
      padding: 8px 0;
      vertical-align: middle;
      width: 100%;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
    @include bootstrap-respond-to(medium-dev) {
      margin-top: 10px;
    }
  }
  .users-box-item-control {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: $dark-blue;
    margin: 5px 0 9px;
    display: inline-block;
    span {
      vertical-align: middle;
      display: inline-block;
      &:first-child {
        margin-right: 3px;
        margin-top: 1px;
      }
      img {
        width: 13px;
      }
    }

  }
}
.addCommentFormContainer {
  margin-bottom: 20px;
  padding: 0;
}
.savedSearches {
  .list-inline {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.plan-block {
  outline: 1px solid;
}
.packages {
  margin-top: 40px;
  .well {
    display: inline-block;
    background: #fff;
    .package-title {
      background: $sweet-blue;
      margin: 0;
      padding: 10px 15px;
      color: #fff;
    }
    .table {
      margin-bottom: 0;
    }
  }
}
.search-results-header {
  text-align: right;
  padding: 15px 0;
  border-bottom: 1px solid $gray;
  margin-bottom: 15px;
  .search-results-header-ls {
    .search-results-header-item {
      float: left;
      @include bootstrap-respond-to(small-dev) {
        float: none;
      }
    }
  }
  .search-results-header-rs {
    .search-results-header-item {
      margin-left: 6px;
    }
  }
  .search-results-header-item {
    display: inline-block;
    vertical-align: middle;
    @include bootstrap-respond-to(small-dev) {
      display: block;
    }
    a[data-toggle="dropdown"] {
      @include bootstrap-respond-to(small-dev) {
        padding: 10px;
        text-align: center;
        background: $sweet-gray;
        display: block;
      }
    }
    .sortingFieldSelector {
      padding: 0;
    }

  }
}
.searchResults {
  margin-top: 0;
  .listing-box {
    margin-top: 15px;
    background: $sweet-gray;
    outline: 1px solid $gray;
    overflow: hidden;
    .listing-box-image {
      img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .listing-box-caption {
      background: transparent;
      height: auto;
      padding-left: 0;
      margin-left: -15px;
      @include bootstrap-respond-to(small-dev) {
        padding-left: 15px;
        margin-left: 0;
      }
      .listing-box-caption-text {
        .listing-price {
          background: $sweet-blue;
          color: #fff;
          font-family: 'Open Sans', sans-serif;
          padding: 5px 10px;
          font-size: 16px;
          position: absolute;
          top: 14px;
          right: 0;
          &:before {
            content: '';
            height: 76px;
            max-height: 100%;
            position: absolute;
            left: -30px;
            top: 0;
            width: 30px;
            z-index: 1;
            @include linearGradient(rgba(255,255,255,0), rgb(243, 243, 243));
          }
        }
        h4 {
          @include bootstrap-respond-to(large-dev) {
            padding-bottom: 5px;
          }
        }
      }
      .listing-box-caption-footer {
        .listing-box-caption-item {
          .fieldValuePhoneNumber {
            font-family: 'Open Sans',sans-serif;
          }
          .listing-controls {
            text-align: right;
            @include bootstrap-respond-to(small-dev) {
              text-align: center;
            }
          }
          @include bootstrap-respond-to(small-dev) {
            margin-bottom: 5px;
            text-align: center;
          }
        }
      }
    }
    .listing-box-caption-description {
      height: 68px;
      min-height: 68px;
      overflow: hidden;
      @include bootstrap-respond-to(large-dev) {
        height: 40px;
        min-height: 40px;
      }
      @include bootstrap-respond-to(small-dev) {
        height: auto;
        min-height: 100%;
      }
    }
  }
}
.listing-controls input:checked ~ span.glyphicon.checked {
  display: inline-block;
}
.advanced-search-block {
  @include custom-check-box($strong_gray, $sweet-blue, #fff);
}
.search-result-bar {
  height: 50px;
  .wb {
    width: 100%;
  }
  div[data-toggle="TabButton"] {
    padding: 15px;
    background: $sweet-gray;
    @include bootstrap-respond-to(small-dev) {
      padding: 10px;
      text-align: center;
      .thin-caret {
        display: none;
      }
    }
  }
  .outline-tab {
    outline: 1px solid ;
  }
  .search-result-header-panel {
    border: 1px solid $gray;
    background: $sweet-gray;
    padding: 30px;
    display: none;
    margin: 15px 0;
    @include bootstrap-respond-to(small-dev) {
      padding: 15px;
    }
    &.active-tab {
      display: block;
    }
    .refineSearchForm {
      .refineSearchForm-field {
        margin-bottom: 15px;
      }
      .list-group-item {
        position: relative;
        display: block;
        padding: 0;
        background-color: transparent;
        border: none;
        margin-bottom: 15px;
        span {
          padding: 10px 0;
          display: inline-block;
        }
      }
      .AddMoreCriteria {
        .default-button {
          @include bootstrap-respond-to(small-dev) {
            margin-top: 15px;
          }
        }
      }
    }
    .search-result-bar-tab-item {
      border-bottom: 1px solid $gray;
      padding: 10px;
    }
  }
}
.mass-action-controls {
  margin-bottom: 0;
  font-size: 17px;
  @include custom-check-box($strong_gray, $sweet-blue, #fff);
}
.myListingsPage {
  .massActionForm {
    padding-top: 0;
  }
}
.full-width-inline-form {
  display: table;
  width: 100%;
  border-spacing: 15px;
  .full-width-item {
    display: table-cell;
    @include bootstrap-respond-to(medium-dev) {
      display: table-row;
    }
  }

}
.listingSearchResultsPage {
  &.gallery-view {
    .listing-box {
      outline: 1px solid $gray;
      background: $sweet-gray;
    }
  }
}
.quick-view-page {
  .quick-view-header {
    background: transparent;
    color: #333;
    padding: 15px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .details-modal-bt {
    display: inline-block;
  }
}
.listing-details-action-panel {
  border: 1px solid $gray;
  background: $sweet-gray;
  padding: 15px;
  li {
    a {
      display: block;
      border-bottom: 1px solid $gray;
      padding: 10px;
    }
    &:last-child {
      a {
        border-bottom: none;
      }
    }
  }
}
.universal-user-box {
  padding: 15px;
  border: 1px solid $gray;
  &.m-bottom-30 {
    margin-bottom: 30px;
  }
  .universal-user-box-head {
    a {
      margin-bottom: 15px;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.4);
        @include  vendor-prefix(transition, opacity 1s ease-out);
      }
      &:hover {
        &:after {opacity: 1;}
        .full-prof-text {
          opacity: 1;
          z-index: 1;
          @include  vendor-prefix(transition, opacity 0.3s ease-out);
        }
      }
      .full-prof-text {
        font-size: 14px;
        display: inline-block;
        position: absolute;
        color: #fff;
        opacity: 0;
        background: rgba(49, 168, 230, 0.6);
        border-radius: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100px;
        height: 100px;
        padding-top: 25px;
      }
    }
    .default-button {
      width: 100%;
    }

  }
  .universal-user-box-body {
    margin: 0 -15px;
    padding: 15px;
    background: #fff;
    ul {
      margin-bottom: 0;
      li {
        &:first-child {
          color: $sweet-blue;
        }
      }
    }
  }
  .universal-user-box-footer {
    a {
      width: 100%;
      text-align: center;
      margin-top: 15px;
    }
  }
}

.listing-controls-bar {
  font-size: 18px;
  text-align: right;
  @include custom-check-box($strong_gray, $sweet-blue, $sweet-gray);
  @include bootstrap-respond-to(small-dev) {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    border-top: 1px solid $gray;
    padding-top: 5px;
  }
  ul {
    margin-bottom: 0;
    li {
      display: inline-block;
      margin: 0 4px;
      @include bootstrap-respond-to(small-dev) {
        margin: 0 6px;
      }
      .fa-facebook-official {
        color: #3b5998;
      }
      .fa-list-alt {
        color: #0b5b98;
      }
      .fa-pencil-square-o {
        color: #46b8da;
      }
      .fa-eye {
        color: orange;
      }
      .fa-eye-slash {
        color: gray;
      }
      .fa-trash-o {
        color: red;
      }
      .fa-money {
        color: green;
      }

      .check-btn {
        color: gray;
        vertical-align: top;
        display: inline-flex;
      }
      span {
        vertical-align: top;
      }
    }
  }
}

.my-bascket-listing {
  .my-bascket-listing-title {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    @include bootstrap-respond-to(medium-dev) {
      margin-top: 15px;
    }
    .linksSection {
      text-align: right;
      position: absolute;
      font-size: 16px;
      padding-left: 15px;
      top: 0;
      right: 15px;
      background: #fff;
      &:before {
        content: '';
        height: 20px;
        max-height: 100%;
        position: absolute;
        left: -50px;
        top: 0;
        width: 50px;
        z-index: 1;
        @include linearGradient(rgba(255,255,255,0), #fff);
      }
    }
  }
  .listingOptions {
    width: 100%;
    display: table;
    border-spacing: 3px;
    .listingOption {
      border-bottom: 1px solid $gray;
      .amount {
        .value {
          font-family: 'Open Sans',sans-serif;
        }
      }
    }
    .subtotal {
      .amount {
        .value {
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
}
.multilist-box {
  padding: 10px 15px 15px;
  border: 1px solid $gray;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 600px;
  }
}

































