.searchResultItem .sponsoredLabel
{
    background: url("sponsored_label_bg.png");
    height: 25px;
    left: 10px;
    position: absolute;
    top: 7px;
    width: 100px;
    z-index: 10;
	text-align: center;
}
.searchResultItem .sponsoredLabel span
{
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2em;
}

.searchResultGalleryItem .sponsoredLabel
{
    position: absolute;
    background: url("sponsored_label_bg.png");
    line-height: 2em;
    top: 0px;
    width: 100%;
    z-index: 10;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
